/*
 * Home button style
 */

#return-to-top {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  color: #f4f1ec;
  background-color: red;
  border-style: none;
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 50%;
  opacity: 25%;
  z-index: 1;
}

#return-to-top .fas {
  margin: auto;
}

#return-to-top:hover {
  opacity: 80%;
}