/*
 * New tweet form styles
 */
 #compose-tweet {
  display: none;
}

#compose-tweet::after {
  content: "";
  clear: both;
  display: table;
}

#compose-tweet form label {
  font-weight: bold;
}

#tweet-text {
  color: #545149;
  background-color: #f4f1ec;
  width: 100%;
  border: none;
  border-bottom: 4px solid #545149;
  overflow: none;
  resize: none;
}

#compose-tweet form button {
  color: #FFFFFF;
  background-color: #4056A1;
  padding: 5px 15px;
  margin: 10px 0px;
  font-family: 'Bungee', cursive;
  float: left;
}

#error-message {
  color: red;
  padding: 15px 15px;
  margin: auto 0px;
  float: left;
}

.counter {
  color: #545149;
  padding: 5px 0px;
  margin: 10px 0px;
  font-family: 'Bungee', cursive;
  float: right;
}

.negative {
  color: red;
}