/*
 * New tweet form styles
 */
 #compose-tweet {
  display: none;
}

#compose-tweet label {
  font-weight: bold;
}

#tweet-text {
  color: #545149;
  background-color: #f4f1ec;
  width: 100%;
  border: none;
  border-bottom: 4px solid #545149;
  overflow: none;
  resize: none;
}

#compose-tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#compose-tweet footer > div {
  display: inline-flex;
}

#compose-tweet button {
  color: #FFFFFF;
  background-color: #4056A1;
  padding: 5px 16px 5px 14px;
  margin: 10px 0px;
  border-style: outset;
  border-color: #4056A1;
  border-radius: 3px;
  border-width: 2px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  font-family: 'Bungee', cursive;
}

#compose-tweet button:active {
  padding: 6px 15px 4px 15px;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  border-style: inset;
  
}

#error-message {
  color: red;
  padding: 15px 15px;
  margin: auto 0px;
  font-weight: 600;
  font-size: 18px;
}

.counter {
  color: #545149;
  padding: 5px 0px;
  margin: 10px 0px;
  font-family: 'Bungee', cursive;
}

.negative {
  color: red;
  animation-name: shake;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  10% {
    transform: rotate(2deg);
  }
  20% {
    transform: rotate(-2deg);
  }
  30% {
    transform: rotate(2deg);
  }
  40% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
  60% {
    transform: rotate(-2deg);
  }
  70% {
    transform: rotate(2deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}
